<h4 class="center-align">Home</h4>

<div class="row">
	<%= render 'home/card' %>
	<%= render 'home/card' %>
	<%= render 'home/card' %>
	<%= render 'home/card' %>
	<%= render 'home/card' %>
	<%= render 'home/card' %>
</div>

  <!-- Modal Trigger -->
  <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>Are you 18 or older?</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">DisAgree</a>
    </div>
  </div>

<div class="parallax-container">
  <div class="parallax"><img src="http://materializecss.com/images/parallax1.jpg"></div>
</div>